/* ------------------------------------ Header ------------------------------------ */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-list {
     display: flex;
    flex-direction: row;
}

/* ------------------------------------ Welcome ------------------------------------ */

.welcome {
    background-color: var(--bg-dark);
}
/* ------------------------------------ Visiting ------------------------------------ */
/* ------------------------------------ Explore ------------------------------------ */

.explore {
    background-color: var(--bg-dark);
}
/* ------------------------------------ Video ------------------------------------ */
/* ------------------------------------ Gallery ------------------------------------ */

.gallery {
    background-color: var(--bg-dark);
}
/* ------------------------------------ Tickets ------------------------------------ */
/* ------------------------------------ Contacts ------------------------------------ */

.contacts-social {
    background-color: var(--bg-dark);
}
/* ------------------------------------ Footer ------------------------------------ */

.footer {
    background-color: var(--bg-dark);
}
